{% extends 'diploms/base.html' %}
{% load static %}

{% block header %}
<div class="image">
    <h2 class="title" align="center"><span class="title-span">Само качество</span></h2>
    <img  src="{% static 'diploms/img/vegetables.jpg' %}"  align="top" width="100%" height="auto"  alt="lorem">

</div>
{% endblock %}

{% block content %}
<div class="jumbotron"><h2 align="center">Наша компания представляет сервис сервис <span style="color:white" class="label label-success">Самокат</span>.</h2>
<h2 align="center"> Сервис <span style="color:white" class="label label-success">экспресс-доставки</span > продуктов из магазина.</h2>
<h2 align="center"> Доставка занимает всего <span style="color:white" class="label label-success">15 минут</span >.</h2>
<br>
<p align="center"><a class="btn btn-success btn-lg"  href="{% url 'about'%}" role="button">Узнать больше</a></p>
</div>
<table width="100%">
    <tr>
        <th>
<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A01a84d8505973904aead894982780f2d1ca5a52569011e0f831629c4c23e8065&amp;source=constructor" width="100%" height="auto" frameborder="0"></iframe>        <th>
            <h3>География присутствия</h3>
            <h4>Самокат постоянно развивается и открывает новые дарксторы по всем городам России.</h4>
            <br>
            <h4>На данный момент сервис работает в 16 городах России.</h4>
        </th>
    </tr>
</table>
<br>
</div>
<div class="panel panel-default">
  <div class="panel-body">
      <h3 align="center">Актуальные новости компании</h3>
  </div>
</div>
<div class="row">
{% for new in news %}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{{ new.image_url }}" alt="Новости компании">

          <div class="caption">
            <h3>{{new.title}}</h3>
            <p>{{new.text|slice:200}}...</p>
            <h6>Источник: <a href="{{new.origin}}">{{new.origin}}s</a> </h6>
            <div align="right"><a href="{% url 'new' new.id %}" class="btn btn-default" role="button">Читать</a></p></div>
          </div>
        </div>
    </div>
{% empty %}
<h4>Нет новостей</h4>
{% endfor %}
</div>


<h1><a href="{% url 'news'%}">Смотреть все новости</a></h1>
{% endblock %}