{% extends 'diploms/base.html' %}

{% block header %}
<div class="container">
  <div align="left">
    <a href="{% url 'news'%}"><<Назад</a>
    <h1>{{new.title}}</h1>
    <img src="{{ new.image_url }}" alt="image" width="400" height="auto">
    <h6>Фото: {{new.image_origin_str}}</h6>
    <br><br>
    <p>Дата публикации: {{new.date_published|date:"d.m.Y"}}</p>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
  <div align="left" style="width:60%">
    <h4 style="color:grey">{{new.text|linebreaks}}</h4>
    <h6>Источник:<a href="{{new.origin}}">{{new.origin}}</a></h6>
    <br>
    <p><h4>Поделиться статьей:</h4></p>
    <script src="https://yastatic.net/share2/share.js"></script>
    <div class="ya-share2" data-curtain data-size="l" data-shape="round" data-services="vkontakte,facebook,telegram,twitter,viber,whatsapp"></div>
    <br>
  </div>
</div>
{% endblock %}
