{% extends 'diploms/base.html' %}
{% block header %}
{% load static %}

<div class="image">
    <h2 class="title" align="center"><span class="title-span">Сотрудничество</span></h2>
    <img  src="{% static 'diplom/img/work.jpg' %}"  align="top" width="100%" height="auto"  alt="coop">
</div>
{% endblock %}

{% block content %}
<h4>Эпидемия Covid-2019 сделала работу курьера (доставщика) востребованной и популярной.
    Это почётный труд, ответственный и важный. Служба доставки «Самокат» представлена в
    Нижнем Новгороде и Нижегородской области. Какие условия предлагает компания?
    Кто может рассчитывать на трудоустройство?</h4>
<h1>Главное о работодателе Самокат</h1>
<img src="{% static 'diplom/img/work-samokat.jpg'%}" width="100%" height="auto" alt="samokat work">
<h4>«Самокат» – современный проект, основанный на актуальных технологиях. Руководство организации ставит амбициозные цели и добивается их реализации. Рост службы в России один из самых быстрых в кластере. Компания выполняет молниеносную доставку продуктов. Пользователю достаточно оформить заказ в приложении, а получить его удастся через 15-30 минут после оформления.
<br><br>
За кажущейся простотой – сложнейшая работа по оптимизации процессов, контролю качества. Создаются небольшие склады, обслуживающие определённую территорию. Сочетание современных технологий и тонкое понимание процессов ритейла позволяют «Самокату» демонстрировать выдающиеся цифры: свыше миллиона заказов в месяц, тысячи сотрудников, сотни точек.
<br><br>
В основе идеи – удовлетворение желания человека сделать быструю покупку. Например, срочно принести пену для бритья, стиральный порошок, снеки к пиву, если отсутствует возможность или желание сходить в магазин самостоятельно. Во время пандемии Covid-2019 такая модель покупки стала особенно популярной. «Самокат» заменил магазин у дома, подарив клиентам комфорт.
<br><br>
В связи с постоянным ростом и развитием компания перманентно находится в поиске новых кадров. Необходимы сотрудники, которые хотят сделать вклад в будущее организации своей плодотворной деятельностью. Доступен не только стабильный доход, личностное развитие, но и карьерный рост, возможность повлиять на процессы и поучаствовать в формировании лидера рынка.</h4>

<h1>Какие есть вакансии?</h1>
<h4>Доступны различные варианты трудоустройства: от курьера и водителя до директора магазина. Все вакансии напрямую связаны с торговлей, а потому необходимо разбираться в товарах, их свойствах, знать и понимать правила хранения продукции, отслеживать сроки.
<br><br>
К различным специалистам предъявляются свои требования. Так, главная задача курьера – хорошо и быстро ориентироваться на местности, быстро доставлять заказы. Но при этом важно быть приветливым с клиентом, уважительно относится к покупателю. Товароведу важно оперативно организовать приём продукции, проверить сроки годности.
<br><br>
В каждой вакансии приветствуется разумная инициатива и желание оптимизировать процессы. Крайне важно – умение работать в команде, так как от слаженности коллектива зависит результат. Компания «Самокат» предоставляет различные варианты трудоустройства, в том числе частичную занятость.</h4>
<br><br>

<div align="center"><a href="{% url 'vacansies' %}" class="btn btn-primary"><h5>Посмотреть доступные вакансии</h5></a></div>

<br><br>

{% endblock %}
